<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main"},"layout":{"type":"constrained"}} -->
<main class="wp-block-group"><!-- wp:pattern {"slug":"bubbledew/template-single"} /-->

<!-- wp:pattern {"slug":"bubbledew/hidden-author-card"} /-->

<!-- wp:pattern {"slug":"bubbledew/keep-reading"} /-->

<!-- wp:pattern {"slug":"bubbledew/post-navigation"} /-->

<!-- wp:pattern {"slug":"bubbledew/comments"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
